# Use this file to create an environment using:
# $ conda create --name <env_name> -c bioconda -c r -c pandas -c conda-forge -c gusdunn --file <this file>


python>=3.5
graphviz>=2.38.0
pip
Sphinx
jupyter
jupyter_nbextensions_configurator
widgetsnbextension
jupyter_contrib_nbextensions
autopep8         # needed for extra jupyter extentions
pyflakes
yapf             # needed for extra jupyter extentions
pandoc
ipython
scipy
matplotlib
pylama


# NEEDED BY CLI
snakemake>=3.4.2
click
munch
ruamel.yaml
seaborn
pandas
engarde
numexpr
numpy
xlrd
xlwt
tqdm>=4.10.0


bumpversion>=0.5.3
wheel>=0.29.0
watchdog>=0.8.3
flake8>=2.6.0
tox>=2.3.1
coverage>=4.1
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' -%}
cryptography==1.7
PyYAML==3.11{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest>=2.9.2
pytest-runner>=2.11.1{% endif %}
